app:
  env:
    secrets:
      - DATABASE_URL
      - REDIS_URL
      - GOOGLE_CLIENT_ID
      - SECRET_KEY
      - REDIRECT_URL
    cors: "true"
  frontend:
    image:
      repo: ghcr.io/o2gather/frontend
      tag: v0.1.0
  backend_init:
    image:
      repo: ghcr.io/o2gather/backend-init
      tag: v0.11.1
  backend:
    image:
      repo: ghcr.io/o2gather/backend
      tag: v0.11.1
  host: o2gather.ptass.org
