app:
  env:
    secrets:
      - DATABASE_URL
      - REDIS_URL
      - GOOGLE_CLIENT_ID
      - SECRET_KEY
    cors: "true"

  backend_init:
    image:
      repo: ghcr.io/o2gather/backend-init
      tag: v0.9.7
      
  backend:
    image:
      repo: ghcr.io/o2gather/backend
      tag: v0.9.7
    ingress:
      host: o2gather.ptass.org